{{define "nav-main"}}

<nav>
    <ul class="nav-container">
        <li class="nav-item"><a href="/home">HOME</a></li>
        <li class="nav-item"><a href="/about">ABOUT</a></li>     
        <li class="nav-item"><a href="/nodes">NODES</a></li>
        <li class="nav-item"><a href="/settings">SETTINGS</a></li>             
    </ul>
</nav> 

{{end}}